.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 36px;
  padding-right: 36px;

  &__page-title{
    text-transform: uppercase;
    font-size: 30px;
  }

  &__menu{

  }

  &__menu-button{
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover{
      background-color: $additional-yellow-color;
    }
  }
}
