.cd-overlay-nav
  span
.cd-overlay-content
  span

div(block="menu").cd-primary-nav
  div(elem="top")
    span(elem="label") меню
    div(elem="close").cur
      span(elem="close-text") закрыть
      include ../icons/close

  .transform-middle(elem="middle")
    .media(elem="media")
      .media-body.media-middle(elem="media-body")
        ul(elem="list-items").lsn.mb0.pl0
          each val, key in menu
            li(elem="list-item" class="#{key == 0 ? 'active' : ''}")
              a(href="#{val.url}" elem="list-link" data-color="#{val.color}").cur #{val.label}

      .media-left.media-middle(elem="media-left")
        div(elem="icon-wrap")
          include ../icons/menu-icon
