.cd-overlay-nav
  span
.cd-overlay-content
  span

div(block="menu").cd-primary-nav
  div(elem="top")
    span(elem="label") меню
    div(elem="close").cur
      span(elem="close-text") закрыть
      include ../../includes/icons/icon-close.svg

  .transform-middle(elem="middle")
    .media(elem="media")
      .media-body.media-middle(elem="list-container")
        ul(elem="list-items").lsn.mb0.pl0
          each val, key in menu
            li(elem="list-item" class=getActive(activeMenuPage == val.id))
              a(href=val.url elem="list-link" data-id=val.id).cur= val.label

      .media-left.media-middle(elem="icon-container")
        div(elem="icon-wrap")
          include ../../includes/icons/1_works.svg
          include ../../includes/icons/2_sketches.svg
          include ../../includes/icons/3_blog.svg
          include ../../includes/icons/4_about_me.svg
