.about{
  &__head{
    padding-top: 200px;
    padding-bottom: 221px;

    &-text{
      font-size: 20px;
      text-transform: uppercase;
    }

    &-title{
      font-size: 45px;
      line-height: 1.53;
    }

    &-wrap{
      max-width: 960px;
      margin: 0 auto;
    }
  }

  &__photo{
    margin-bottom: 115px;
  }

  &__description{
    margin-bottom: 102px;

    &-text{
      font-size: 20px;
      line-height: 1.5;
      text-align: left;
      color: #000;
    }
  }

  &__social{
    margin-bottom: 168px;

    &-item{
      width: 33.33333%;

      &:nth-child(2){
        text-align: center;
      }

      &:nth-child(3){
        text-align: right;
      }
    }
    &-link{
      font-size: 40px;
      color: #000;
    }
  }

  &__projects-title{
    font-size: 45px;
    margin-bottom: 118px;
  }

  &__close-page{
    display: table;
    margin: 0 auto;
    padding: 50px 80px;
  }
}

.work-list{
  //@include clearfix;
  //display: flex;
  padding-bottom: 239px;

  &__row + &__row{
    padding-top: 60px;
  }

  &__row{
    display: flex;
    justify-content: space-between;
  }

  &__time{
    //width: 127px;
    //height: 24px;
    font-size: 20px;
    //text-align: left;
    //color: #000;
    padding-right: 50px;

    //width: 15%;
    //float: left;
  }

  &__title{
    overflow: hidden;
    line-height: (80/3) + px;
    max-height: 80px;

    font-size: 20px;
    //text-align: left;
    //color: #000;
    padding-right: 60px;
    //width: 60%;
    //float: left;
  }

  &__link-wrap{
    //width: 15%;
    //float: left;
    text-align: center;
  }

  &__link{
    //width: 211px;
    //height: 24px;
    font-size: 20px;
    color: #bc46cb;
  }
}
