extends ../layouts/_index-layout

block content
  .preloader-overlay
    .preloader.loading
      -for(var i = 0; i < 4; i++)
        span.slice

  .scroll(block="scrollable")
    -for(var i = 0; i < 20; i++)
      div(elem="wrap")
        div(elem="block")
          div(elem="inner-wrap")
            a(href="#" elem="label").cur.no-underline
              span.transform-middle  Lorem ipsum dolor sit amet.

            span(elem="time") /#{i < 9 ? '0' + (i + 1) : i + 1}

            a(href="#" elem="image-wrap").cur
              img(src="/img/portfolio-mini-image.png", alt="portfolio mini image" elem="image")
