extends ../layouts/_index-layout

block header
  include ../components/header/_header.jade
  include ../components/menu/_menu.jade

block content
  include ../components/preloader/_preloader
  include ../components/welcome-screen/_welcome-screen

  .scroll(block="scrollable")#scrollable
    -for(var i = 0; i < 20; i++)
      div(elem="wrap")
        div(elem="block")
          div(elem="inner-wrap")
            a(href="/post.html" elem="label").cur.no-underline
              span.transform-middle  #{randomText()}

            ul(elem="tags-list").lsn.pl0.mb0
              -for(var w = 0; w < randomInt(4, 1); w++)
                li(elem="tags-item") #{randomTag()}

            span(elem="time") /#{addZeroToNumber(i)}

            a(href="/post.html" elem="image-wrap").cur
              img(src="#{randomImage(294, 220)}", alt="portfolio mini image" elem="image")

block footer
  include ../components/footer/_footer.jade
