extends ../layouts/_main

block header
  include ../components/header/_header.jade
  include ../components/menu/_menu.jade

block content
  include ../components/preloader/_preloader
  include ../components/welcome-screen/_welcome-screen

  .scroll(block="scrollable")#scrollable
    -for(var i = 0; i < 20; i++)
      div(elem="wrap")
        div(elem="block" data-link="/post.html" style="transform: translate3d(100%, 0, 0); opacity: 0;").animated
          div(elem="inner-wrap")
            a(elem="label").cur.no-underline
              span.transform-middle  #{randomText()}

            ul(elem="tags-list").lsn.pl0.mb0
              -for(var w = 0; w < randomInt(4, 1); w++)
                li(elem="tags-item") #{randomTag()}

            span(elem="time") /#{addZeroToNumber(i + 1)}

            a(elem="image-wrap").cur
              img(src="#{randomImage(294, 220)}", alt="portfolio mini image" elem="image")

block footer
  include ../components/footer/_footer.jade

block script
  script(extsrc="js/jquery.jInvertScroll.min.js")
  script(extsrc="js/hammer.min.js")
  script(extsrc="js/velocity.min.js")
  script(extsrc="js/velocity.ui.min.js")
  script(extsrc="js/isMobile.min.js")
  script(extsrc="js/indexPage.js")
