extends ../layouts/_index-layout

block content
  if PROD
    .preloader-overlay
      .preloader
        div.cube.c1
        div.cube.c2
        div.cube.c4
        div.cube.c3

  .scroll(block="scrollable")#scrollable
    -for(var i = 0; i < 20; i++)
      div(elem="wrap")
        div(elem="block")
          div(elem="inner-wrap")
            a(href="#" elem="label").cur.no-underline
              span.transform-middle  #{randomText()}

            ul(elem="tags-list").lsn.pl0.mb0
              -for(var w = 0; w < randomInt(4, 1); w++)
                li(elem="tags-item") #{randomTag()}

            span(elem="time") /#{i < 9 ? '0' + (i + 1) : i + 1}

            a(href="#" elem="image-wrap").cur
              img(src="#{randomImage(294, 220)}", alt="portfolio mini image" elem="image")
