.post{
  &__cover{
    height: 100vh;
    background-position: top center;
    background-size: cover;
    margin-bottom: 100px;
  }

  &__middle{
    max-width: 960px;
    margin: 0 auto;
    // padding: 1px;
  }

  &__title{
    font-size: 60px;
    line-height: 70px;
    max-height: 220px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  &__time{
    font-size: 20px;
  }

  &__back-link{
    margin-bottom: 38px;
    display: inline-block;
    svg{
      vertical-align: middle;
    }
  }

  &__back-text{
    margin-left: 14px;
    font-size: 16px;
    color: #ef4f80;
    vertical-align: middle;
  }

  &__content{
    font-size: 20px;
    font-family: $roboto;
  }

  &__headline{
    margin-bottom: 69px;
  }

  &__second-title{
    font-size: 50px;
  }

  &__section{
    margin-bottom: 136px;
  }

  &__nav{

  }

  &__nav-left,
  &__nav-right{
    background-color: $additional-yellow-color;
    width: 50%;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 60px;
    padding-right: 60px;
  }

  &__nav-left{
    float: left;

    &:hover{
      background-color: $accent-color;
    }
  }

  &__nav-right{
    float: right;

    &:hover{
      background-color: $accent-color;
    }
  }

  &__nav-left-text,
  &__nav-right-text{
    color: $main-color;
    font-size: 25px;
  }

  &__nav-left-text{

  }

  &__nav-right-text{

  }
}
