extends ../layouts/main

block content
  .container
    h1 header h1
    h2 header h2
    h3 header h3
    h4 header h4
    h5 header h5
    h6 header h6

    p Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family Open sans default font family

    p
      | Link inside text Link inside text Link inside text Link inside text Link inside text
      a(href="#") link
      | &nbsp;Link inside text Link inside text Link inside text Link inside text Link inside text Link inside text

    p.roboto Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text Roboto text

    ul
      li list item
      li list item
      li list item
      li list item
      li list item
      li list item

    ol
      li list item
      li list item
      li list item
      li list item
      li list item
      li list item

    ul.roboto
      li roboto list item
      li roboto list item
      li roboto list item
      li roboto list item
      li roboto list item
      li roboto list item

    ol.roboto
      li roboto list item
      li roboto list item
      li roboto list item
      li roboto list item
      li roboto list item
      li roboto list item
