$block-width: 30px;
$prim: #2ba0c7;

.preloader-overlay {
  position: fixed;
  background: #fff;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.preloader {
  width: $block-width * 2;
  height: $block-width * 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$block-width;
  margin-left: -$block-width;

  .cube {
    position: relative;
    transform: rotateZ(45deg);
  }

  .cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: foldthecube 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }
  }

  @for $i from 1 through 4 {
    .cube:nth-child(#{$i}) {
      &:before {
        background-color: nth($colors-stack, $i);
      }
    }
  }

  .c2 {
    transform: scale(1.1) rotateZ(90deg);
  }

  .c3 {
    transform: scale(1.1) rotateZ(180deg);
  }

  .c4 {
    transform: scale(1.1) rotateZ(270deg);
  }

  .c2:before {
    animation-delay: .3s;
  }

  .c3:before {
    animation-delay: .6s;
  }

  .c4:before {
    animation-delay: .9s;
  }

  @keyframes foldthecube {
    0%, 10% {
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%, 75% {
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%, 100% {
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
}
