svg(width='35px', height='23px', viewbox='0 0 35 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  title D5128373-2CB6-4CCE-8DB2-40BD3DACA902
  desc Created with sketchtool.
  defs
  g#1280-1920(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g#3_ru(transform='translate(-1184.000000, -2306.000000)', fill='#EF4F80')
      g#Group(transform='translate(698.000000, 2282.000000)')
        g#icon_next(transform='translate(503.500000, 35.500000) scale(-1, 1) translate(-503.500000, -35.500000) translate(486.000000, 24.000000)')
          path#Combined-Shape(d='M10.3431458,9 L35,9 L35,14 L10.3431458,14 L15.267767,18.9246212 L11.732233,22.4601551 L0.772077939,11.5 L11.732233,0.539844892 L15.267767,4.0753788 L10.3431458,9 Z')
