@import 'node_modules/flexbox-grid-mixins/sass/flexbox-grid-mixins';

$default-grid-gutter: 40px;

.grid {
	@include grid($gutter: $default-grid-gutter);
  max-width: 960px;
  margin: 0 auto;

  @for $i from 1 through 12 {
    > .col-#{$i} {
      @include grid-col($col: $i, $gutter: $default-grid-gutter);
    }
  }
}
