// hide horizontal scrollbars, since we use the vertical ones to scroll to the right
body{
  overflow-x: hidden;
}

// important: keep position fixed, you can however use top:0 instead of bottom:0
// if you want to make it stick to the top of the browser
.scroll{
  position: fixed;
  bottom: 0;
  left: 0;
}

.scrollable{
  top: 0px;
  // padding-left: 160px;

  &__wrap{
    position: absolute;
    top: 0;
    top: 50%;
    transform: translateY(-50%);

    &:nth-child(2n) {
      .scrollable__block{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__block{
    // transform: translate3d(100%, 0, 0);
    // opacity: 0;
  }

  &__label{
    width: 244px;
    height: 116px;
    background: #DEF259;
    // display: block;
    // display: none;
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 1250ms, 500ms;
    transition-delay: 0ms, 100ms;
    transition-timing-function: ease;
    position: absolute;
    top: 27px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;

    &:hover{
      color: #000;
      transition-timing-function: ease-out;
    }

    span{
      font-size: 20px;
      line-height: 30px;
      max-height: 90px;
      overflow: hidden;
    }
  }

  &__inner-wrap{
    position: relative;
    // padding-left: 120px;

    &:hover{
      .scrollable__tags-list{
        // display: none;
      }
    }
  }

  &__time{
    opacity: 0.3;
    color: #97ee4f;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;

    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__image-wrap{
    // display: block;
    float: right;

    &:hover{
      .scrollable__image{
        box-shadow: 0 110px 70px rgba(221, 243, 75, 0.53);
      }

      & + .scrollable__label{
        // display: block;
        opacity: 1;
        transform: none;
      }
    }
  }

  &__image{
    display: block;
    box-shadow: 0 0px 0px rgba(221, 243, 75, 0.53);
    transition: all .3s ease;
  }

  &__tags-list{
    position: absolute;
    right: -100px;
  }

  &__tags-item{
    border-bottom: 2px #000 solid;
    width: 160px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 15px;
    line-height: 1.67;

    &:last-child{
      margin-bottom: 0;
    }
  }
}
