body{
  font-family: $open-sans;
  font-weight: 800;
  overflow-y: scroll;
  //-webkit-font-smoothing: subpixel-antialiased;
  overflow-x: auto;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

::selection {
  background: $main-color;
  color: #fff;
}
