footer(block="footer").clearfix
  ul(elem="social").lsn.clearfix.pl0.pull-left.mb0
    li(elem="social-item").pull-left
      a(elem="social-link").cur Behance

    li(elem="social-item").pull-left
      a(elem="social-link").cur Dribbble

    li(elem="social-item").pull-left
      a(elem="social-link").cur Facebook

  div(elem="copyright").pull-right
    span
    | copyright
    b.current-year
    | &nbsp;— Pavel Anpleenko.
