.footer{
	position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 36px;
  padding-right: 36px;

  &__social{

  }

  &__social-item{
    margin-right: 20px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__social-link{
    color: #000;
    // font-size: 14px;
    // font-weight: 700;
    position: relative;

    &:hover{
      color: $main-color;
      text-decoration: none;
      &:before{
        display: block;
      }
    }

    &:before{
      display: none;
      position: absolute;
      content: '';
      height: 5px;
      background: $additional-yellow-color;
      left: -2px;
      right: -2px;
      bottom: 6px;
      z-index: -1;
    }
  }

  &__copyright{
    // font-size: 14px;
    //text-align: right;
    // color: #000;
  }
}
