.post-nav {
  &__left,
  &__center,
  &__right {
    height: 140px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
    position: relative;
    display: block;
    z-index: 1;

    &:hover {
      //background-color: #DDF34B;

      &:after {
        transform: translate3d(0,0,0);
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: block;
      background-color: #DDF34B;
      transform: translate3d(-101%,0,0);
      z-index: -1;
      transition: transform 1s cubic-bezier(0.11, 0.7, 0, 1);
    }

    @media (max-width: 1300px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (max-width: 1200px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: 1300px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__left,
  &__right {
    padding-left: 230px;
    padding-right: 230px;
  }

  &__left {
    float: left;

    &:hover {
      //background-color: $accent-color;
    }
  }

  &__center {
    float: left;
    padding: 49px 80px;

    &:hover {
      //background-color: $accent-color;
    }
  }

  &__right {
    float: left;

    &:hover {
      //background-color: $accent-color;
    }
  }
}
