nav(block="post-nav").clearfix.table-center
  a(elem="left" href="#")
    include ../../includes/icons/icon-post-prev.svg

  a(elem="center" href="#")
    include ../../includes/icons/icon-post-close.svg

  a(elem="right" href="#")
    include ../../includes/icons/icon-post-next.svg
