nav(block="post-nav").clearfix.table-center
  a(elem="nav-left" href="#")
    include ../../includes/icons/icon-posr-prev.svg

  a(elem="nav-center" href="#")
    include ../../includes/icons/icon-post-close.svg

  a(elem="nav-right" href="#")
    include ../../includes/icons/icon-posr-next.svg
