mixin css(file, media)
    - media = media || 'all'
    link(type="text/css", rel="stylesheet", media=media, href=file)

mixin js(file)
    script(src=file)

mixin script(file)
    script(extsrc=file)
