.welcome-screen{
  &__text-wrap{
    &_fade--in{
      // height: 150px;
      width: 1px;
      opacity: 0;
      transition: all .75s ease;

      &.show {
        opacity: 1;
        // height: 150px;
        // width: 500px;
      }
    }
  }
}
