.welcome-screen{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // display: none;
  background: #fff;

  z-index: 20;

  &__cube{
    position: absolute;
    width: 1px;
    height: 50%;
    transition: all .75s ease;

    &.show {
      opacity: 1;
      width: 50%;
    }
  }

  @for $i from 1 through 4 {
    &__cube:nth-child(#{$i}) {
      background-color: nth($colors-stack, $i);
    }
  }

  &__cube:nth-child(1) {
    top: 0;
    left: 0;
  }

  &__cube:nth-child(2) {
    right: 0;
    top: 0;
  }

  &__cube:nth-child(3) {
    right: 0;
    bottom: 0;
  }

  &__cube:nth-child(4) {
    font: 0;
    bottom: 0;
  }

  &__text-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // padding: 0 59px;
    background: #fff;
    // height: 176px;
  }

  &__text{
    font-size: 100px;
    line-height: 65px;
    text-transform: uppercase;
    line-height: 176px;
    margin: 0;
    padding: 0 50px;
  }

  &__text {
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    font-weight: 700;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    background: -webkit-linear-gradient(0deg, #222 50%, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 100% 0;
    background-size:200% 100%;
    transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;

    &:after,
    &:before{
      content: "";
      height: 100%;
      width: 100%;
      z-index: 2;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: left;
      transform: scaleX(0);
    }

    &:before{
      background: #eee;
    }

    &:after{
      background: #000;
    }

    &.active {
      background-position: 0 0;

      &:before {
        animation: anime 1.2s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
      }

      &:after {
        animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
      }
    }
  }
}

@keyframes anime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51%{
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
