svg(width='33px', height='21px', viewbox='0 0 33 21', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  title F286BFC0-32EF-46E9-9048-A2DEA285886A
  desc Created with sketchtool.
  defs
  g#1280-1920(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g#3_ru(transform='translate(-160.000000, -139.000000)', fill='#EF4F80')
      g#Group-3(transform='translate(160.000000, 138.000000)')
        g#icon_back(transform='translate(0.000000, 1.000000)')
          path#Combined-Shape(d='M5.92893219,9 L33,9 L33,12 L5.92893219,12 L12.5606602,18.631728 L10.4393398,20.7530483 L0.186291501,10.5 L10.4393398,0.246951673 L12.5606602,2.36827202 L5.92893219,9 Z')
