svg(width='27px', height='27px', viewbox='0 0 27 27', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  // Generator: sketchtool 43.2 (39069) - http://www.bohemiancoding.com/sketch
  title 814147BA-00DC-41E2-803F-660369B7CDD4
  desc Created with sketchtool.
  defs
  g#1280-1920(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g#menu_ru(transform='translate(-1213.000000, -40.000000)', fill='#EF4F80')
      g(id='закрыть', transform='translate(1126.000000, 40.000000)')
        g#icon_close(transform='translate(87.000000, 0.000000)')
          path#Combined-Shape(d='M16.263456,13.4350288 L26.8700577,2.82842712 L24.0416306,0 L13.4350288,10.6066017 L2.82842712,0 L-4.4408921e-16,2.82842712 L10.6066017,13.4350288 L-3.55271368e-15,24.0416306 L2.82842712,26.8700577 L13.4350288,16.263456 L24.0416306,26.8700577 L26.8700577,24.0416306 L16.263456,13.4350288 Z')
