svg(width='32px', height='22px', viewbox='0 0 32 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  // Generator: sketchtool 43.2 (39069) - http://www.bohemiancoding.com/sketch
  title DC3774B5-6C47-476B-A76B-6742097652DC
  desc Created with sketchtool.
  defs
  g#1280-1920(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g#3_ru(transform='translate(-1208.000000, -40.000000)', fill='#EF4F80')
      g#icon_menu(transform='translate(1208.000000, 40.000000)')
        path#Combined-Shape(d='M0,0 L32,0 L32,4 L0,4 L0,0 Z M0,18 L32,18 L32,22 L0,22 L0,18 Z M0,9 L32,9 L32,13 L0,13 L0,9 Z')
